* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Azul1: #0d47a1;
  --Azul2: #00adc3;
  --Azul3: #42a5f5;
  --Azul4: #bbdefb;
  --Azul5: #e3f2fd;
  --Azul6: #1e90ff;
  --Naranja1: #cc3300;
  --Negro: #212121;
  --Gris: #d9d9d9;
  --Background: #e5f3ff;
  --Amarillo: #ffff56;
  --Blanco: #f5f5f5;
}

.contenedor {
  width: 100vw;
  max-width: 1920px; /*se limita a un maximo de 1920px de ancho*/
  height: calc(100vh - 70px);
  max-height: 1080px; /*se limita a un maximo de 1920px de ancho*/
  margin: 0 auto;
  text-align: center;
  background-color: var(--Azul4);
}

.titulo {
  padding: 20px;
  text-align: center;
  color: var(--Azul1);
}

.formato {
  width: 50%;
  margin: 0px auto 80px auto;
  border: var(--Azul1) 3px solid;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.fullentry {
  width: 50%;
  padding-top: 20px;
  text-align: left;
  margin: 0px auto;
}

.formlabel {
  margin-bottom: 0.5rem;
}

.formcontrol {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--Negro);
  background-color: var(--Blanco);
  background-clip: padding-box;
  border: 1px solid var(--Negro);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contenBoton {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.boton {
  padding: 3px;
  height: 36px;
  width: 80px;
  border: var(--Azul6);
  border-radius: 3px;
  background-color: var(--Azul6);
}

.boton:hover {
  background-color: var(--Azul1);
  transition: all 0.5s;
  transform: scale(1.09);
}

.boton:active {
  background-color: var(--Negro);
}

@media screen and (max-width: 701px) {
  .formato {
    width: 100%;
  }
}
