* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Azul1: #0d47a1;
  --Azul2: #00adc3;
  --Azul3: #42a5f5;
  --Azul4: #bbdefb;
  --Azul5: #e3f2fd;
  --Azul6: #1e90ff;
  --Naranja1: #cc3300;
  --Negro: #212121;
  --Gris: #d9d9d9;
  --Background: #e5f3ff;
  --Amarillo: #ffff56;
  --Blanco: #f5f5f5;
}

.contenedor {
  /*padding-top: 70px;*/
  max-width: 1280px; /*1280px */
  height: 88vh;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  background-color: var(--Azul4);
}

.titulo {
  padding: 20px;
  text-align: center;
  color: var(--Azul1);
}

.formato {
  width: 50%;
  margin: 0px auto 80px auto;
  border: var(--Azul1) 3px solid;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.fullentry {
  width: 50%;
  padding-top: 20px;
  text-align: left;
  margin: 0px auto;
}

.formlabel {
  margin-bottom: 0.5rem;
}

.formcontrol {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--Negro);
  background-color: var(--Blanco);
  background-clip: padding-box;
  border: 1px solid var(--Negro);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contenBoton {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.boton {
  padding: 3px;
  height: 36px;
  width: 80px;
  border: var(--Azul6);
  border-radius: 3px;
  background-color: var(--Azul6);
}

.boton:hover {
  background-color: var(--Azul1);
  transition: all 0.5s;
  transform: scale(1.09);
}

.boton:active {
  background-color: var(--Negro);
}

.imagen {
  border-radius: 5px;
  border: var(--Azul1) 1px solid;
}

.cerrarModal {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 10px;
  border: none;
  transition: 0.3s ease all;
}

.cerrarModal:hover {
  cursor: pointer;
  opacity: 1;
}

.cerrarModal:active {
  box-shadow: 5px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(4px);
}

@media screen and (max-width: 701px) {
  .formato {
    width: 100%;
  }
}
