* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Azul1: #0d47a1;
  --Azul2: #00adc3;
  --Azul3: #42a5f5;
  --Azul4: #bbdefb;
  --Azul5: #e3f2fd;
  --Azul6: #1e90ff;
  --Naranja1: #cc3300;
  --Negro: #212121;
  --Gris: #d9d9d9;
  --Background: #e5f3ff;
  --Amarillo: #ffff56;
  --Blanco: #f5f5f5;
}

.seccion1 {
  padding-top: 10px;
  width: 100%;
  height: 84vh;
  text-align: center;
  color: var(--Azul1);
  background-color: var(--Azul4);
  background-image: url("./img/Frame 1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
}

.piedepagina {
  background-color: var(--Azul4);
}
