* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --Azul1: #0d47a1;
  --Azul2: #00adc3;
  --Azul3: #42a5f5;
  --Azul4: #bbdefb;
  --Azul5: #e3f2fd;
  --Azul6: #1e90ff;
  --Naranja1: #cc3300;
  --Negro: #212121;
  --Gris: #d9d9d9;
  --Background: #e5f3ff;
  --Amarillo: #ffff56;
  --Blanco: #f5f5f5;
}

.nav_style {
  width: 100vw;
  max-width: 1920px; /*se limita a un maximo de 1920px de ancho*/
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--Azul6);
}

.navbar_list {
  width: 70%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar_item1 {
  float: left;
  list-style-type: none;
  width: 200px;
}

.navbar_item2 {
  float: left;
  list-style-type: none;
  width: 200px;
}

.navbar_item3 {
  float: left;
  list-style-type: none;
  width: 250px;
}

.navbar_item3:hover .submenu {
  display: block;
}

.navbar_item4 {
  float: left;
  list-style-type: none;
  width: 200px;
  visibility: hidden;
}

.navbar_item4:hover .submenu {
  display: block;
}

.navbar_item5 {
  float: left;
  list-style-type: none;
  visibility: hidden;
}

.navbar_font {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: var(--Azul1);
}

.navbar_font:hover {
  transition-duration: 0.3s;
  font-size: 21px;
  text-decoration: none;
  font-weight: bold;
  color: var(--Blanco);
}

.container_logo {
  padding-left: 20px;
  padding-top: 2px;
  height: 70px;
}

.logo {
  border-radius: 15px;
}

.logo:hover {
  transition-duration: 0.5s;
  border: red 2px solid;
}

.menu_boton {
  display: none;
}

.li_submenu {
  display: inline-block;
  list-style-type: none;
}

.submenu {
  position: absolute;
  display: none;
  background: var(--Azul6);
  border-radius: 0px 0px 15px 15px;
}

.li_dropdown {
  display: block;
  width: 250px;
}
/*
.link {
  position: relative;
  text-decoration: none;
  float: left;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.link:hover {
  transition-duration: 0.5s;
  color: #006497;
}
*/
@media screen and (max-width: 1200px) {
  .navbar_list {
    margin-right: 20%;
  }

  .navbar_font {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  .navbar_list {
    padding-top: 20px;
    margin-right: 20%;
  }

  .navbar_font {
    font-size: 20px;
  }
  .navbar_font:hover {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .navbar_list {
    padding-top: 20px;
    margin-right: 0%;
  }

  .navbar_item {
    text-align: left;
    list-style-type: none;
  }

  .navbar_font {
    font-size: 14px;
  }

  .navbar_font:hover {
    transition-duration: 0.3s;
    font-size: 15px;
  }
}
