* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Azul1: #0d47a1;
  --Azul2: #00adc3;
  --Azul3: #42a5f5;
  --Azul4: #bbdefb;
  --Azul5: #e3f2fd;
  --Azul6: #1e90ff;
  --Naranja1: #cc3300;
  --Negro: #212121;
  --Gris: #d9d9d9;
  --Background: #e5f3ff;
  --Amarillo: #ffff56;
  --Blanco: #f5f5f5;
}

.contenedor {
  width: 100vw;
  max-width: 1920px; /*se limita a un maximo de 1920px de ancho*/
  height: calc(100vh - 70px);
  max-height: 1080px; /*se limita a un maximo de 1920px de ancho*/
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  background-color: var(--Azul4);
}

.titulo {
  padding: 20px;
  text-align: center;
  color: var(--Azul1);
}

.tabla {
  display: block;
  overflow: auto;
  width: 80%;
  height: auto;
  min-width: 450px;
  margin: 0 auto;
  /*margin-right: auto;
  margin-left: auto;*/
  align-items: center;
  text-align: center;
  background-color: var(--Background);
  border: var(--Azul1) 2px solid;
  border-radius: 10px;
  font-size: 1em;
  font-family: sans-serif;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabla thead tr {
  background-color: var(--Azul1);
  color: var(--Blanco);
  text-align: middle;
}

.tabla th,
.tabla td {
  padding: 12px 15px;
}

.tabla tbody tr {
  border-bottom: 1px solid #dddddd;
}
.tabla tbody tr:nth-of-type(even) {
  background-color: var(--Azul4);
}
.tabla tbody tr:last-of-type {
  border-bottom: 2px solid var(--Azul6);
}

.linetable {
  height: 30px;
}

.boton {
  padding: 3px;
  height: 36px;
  width: 80px;
  border: var(--Azul6);
  border-radius: 3px;
  background-color: var(--Azul6);
}

.boton:hover {
  background-color: var(--Azul1);
  transition: all 0.5s;
  transform: scale(1.09);
}
