* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Azul1: #0d47a1;
  --Azul2: #00adc3;
  --Azul3: #42a5f5;
  --Azul4: #bbdefb;
  --Azul5: #e3f2fd;
  --Azul6: #1e90ff;
  --Naranja1: #cc3300;
  --Negro: #212121;
  --Gris: #d9d9d9;
  --Background: #e5f3ff;
  --Amarillo: #ffff56;
  --Blanco: #f5f5f5;
}

.contenedor {
  width: 100%;
  height: 88vh;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  background-color: var(--Azul4);
}

.titulo {
  padding: 5px;
  text-align: center;
  color: var(--Azul1);
}

.formato {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  /*margin: 0px auto 80px auto;*/
  border: var(--Azul1) 3px solid;
  border-radius: 1rem;
}

.fullentry {
  width: 50%;
  padding-top: 10px;
  text-align: left;
  margin: 0px auto;
}

.contenBoton {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.boton {
  padding: 3px;
  height: 36px;
  width: 80px;
  border: var(--Azul6);
  border-radius: 3px;
  background-color: var(--Azul6);
}

.boton:hover {
  background-color: var(--Azul1);
  transition: all 0.5s;
  transform: scale(1.09);
}

.boton:active {
  background-color: var(--Negro);
}

.formlabel {
  margin-bottom: 0.5rem;
}

.formcontrol {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--Blanco);
  background-clip: padding-box;
  border: 1px solid var(--Negro);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (max-width: 768px) {
  .contenedor {
    width: 100%;
  }

  .formato {
    width: 100%;
  }
  .fullentry {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .contenedor {
    width: 100%;
  }

  .formato {
    width: 100%;
  }
}
