* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Azul1: #0d47a1;
  --Azul2: #00adc3;
  --Azul3: #42a5f5;
  --Azul4: #bbdefb;
  --Azul5: #e3f2fd;
  --Azul6: #1e90ff;
  --Naranja1: #cc3300;
  --Negro: #212121;
  --Gris: #d9d9d9;
  --Background: #e5f3ff;
  --Amarillo: #ffff56;
  --Blanco: #f5f5f5;
}

.contenedor {
  /* padding-top: 70px;*/
  width: 100%;
  height: 84vh;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  background-color: var(--Azul4);
}

.titulo {
  padding: 20px;
  text-align: center;
  color: var(--Azul1);
}

.formato {
  width: 50%;
  margin: 0px auto 80px auto;
  border: var(--Azul1) 3px solid;
  border-radius: 1rem;
}

.fullentry {
  width: 50%;
  padding-top: 20px;
  text-align: left;
  margin: 0px auto;
}

.contenBoton {
  padding-top: 20px;
  padding-bottom: 20px;
}

.boton {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: var(--Azul6);
  border: 1px solid var(--Azul6);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: scale(1.09), color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.boton:hover {
  background-color: var(--Azul1);
  transition: all 0.5s;
  transform: scale(1.09);
}

.boton:active {
  background-color: var(--Negro);
}

.container-user {
  margin-right: 10px;
  width: 20%;
  padding-left: 10px;
  padding-top: 30px;
  height: 80px;
  font-size: large;
  color: var(--Blanco);
}

.menu-boton {
  display: none;
}

.formlabel {
  margin-bottom: 0.5rem;
}

.formcontrol {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--Blanco);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (max-width: 768px) {
  .contenedor {
    width: 100%;
  }

  .contenedorlistado {
    width: 100%;
  }

  .formato {
    width: 100%;
  }
  .fullentry {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .contenedor {
    width: 100%;
  }

  .formato {
    width: 100%;
  }
}
