* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Azul1: #0d47a1;
  --Azul2: #00adc3;
  --Azul3: #42a5f5;
  --Azul4: #bbdefb;
  --Azul5: #e3f2fd;
  --Azul6: #1e90ff;
  --Naranja1: #cc3300;
  --Negro: #212121;
  --Gris: #d9d9d9;
  --Background: #e5f3ff;
  --Amarillo: #ffff56;
  --Blanco: #f5f5f5;
}

.contenedor {
  max-width: 1280px; /*1280px */
  min-height: 88vh;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--Azul4);
}

.encabezado {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.titulo {
  padding: 20px;
  text-align: center;
  color: var(--Azul1);
}

.tabla {
  display: block;
  overflow: auto;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  background-color: var(--Background);
  border: var(--Azul1) 2px solid;
  border-radius: 10px;
  font-size: 10px;
  font-family: sans-serif;
  min-width: 450px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabla thead tr {
  background-color: var(--Azul1);
  color: var(--Blanco);
  text-align: middle;
}

.tabla th,
.tabla td {
  padding: 12px 15px;
}

.tabla tbody tr {
  border-bottom: 1px solid #dddddd;
}
.tabla tbody tr:nth-of-type(even) {
  background-color: var(--Azul4);
}
.tabla tbody tr:last-of-type {
  border-bottom: 2px solid var(--Azul6);
}

.linetable {
  height: 30px;
}

.boton {
  padding: 3px;
  height: 36px;
  width: 80px;
  border: var(--Azul6);
  border-radius: 3px;
  background-color: var(--Azul6);
}

.boton:hover {
  background-color: var(--Azul1);
  transition: all 0.5s;
  transform: scale(1.09);
}

.boton:active {
  background-color: var(--Negro);
}

.searchmodal {
  margin: 0 auto;
  align-items: center;
  width: 880px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--Azul1);
  border-radius: 5px;
}

.inputgroup {
  width: 270px;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.etiquetadeentrada {
  padding: 5px;
  min-width: 80px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}

.campodeentrada {
  min-width: 200px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: Negro;
  background-color: beige;
  border-radius: 0.25rem;
  border: 2px solido --Negro;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
